h1, h3, p {
    margin: 0;
}

.ticket {
    cursor: pointer;
    border-top: 1px solid darkgray;
    display: flex;
    padding: 10px 0;
}

.ticket .ticketId {
    /*display: block;
    vertical-align: middle;*/

    padding: 0 15px;
    position: relative;
    height: 100%;
}

.ticket .ticketInfo > p {
    font-size: 0.7em;
}

.ticket .ticketInfo .summary {
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.ticket .ticketInfo .categoryId {
    display: inline-block;
    border: 1px solid darkgray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    font-size: 0.5em;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    color: darkgray;
    font-weight: bold;
}